@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2)
}

.page-header,
.catalog-header {
  padding-left: 70px;
  padding-right: 70px;
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  list-style: none;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  text-align: center;
  background-color: #ffffff;
}

.hero-background {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/index-background-bottom.svg"),
    url("../images/index-background.jpg");
  /* background-size: cover; */ /* при кавер картинка index-background-bottom отображается по другому, отличается от макета */
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.introduce {
  text-align: center;
}

.introduce-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.introduce-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Секция Преимущества */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 400px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.advantages-item {
  height: 385px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-image {
  display: block;
}

.advantages-image-order {
  order: -1;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-item-blue {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
  color: #ffffff;
}

/* Секция услуги */
.services {
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.services-item {
  padding: 0 85px;
  width: 400px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Секция поиск отеля */

.search-hotel {
  text-align: center;
  background-color: #ffffff;
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
}

.search-hotel .button {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Секция для подписки на новости */

.newsletter {
  text-align: center;
  background-color: #333333;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-description {
  color: #ffffff;
}

.newsletter .field {
  line-height: 24px;
  color: #000000;
  font-size: 18px;
}

.button-newsletter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
}

/* Подвал */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.footer-social {
  width: 142px;
}

.footer-contacts {
  width: 700px;
  text-align: center;
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Убирает из поля видимости пользователя, оставляет для роботов и скринридера */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* Страница каталога */
.inner-header {
  padding-left: 70px;
  padding-right: 70px;
  background-image: url("../images/filter-background.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  padding-left: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter-wrapper {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-infrastructure {
  margin-right: 70px;
}

.catalog-filter-cost {
  margin-left: auto;
  margin-right: 70px;
}

.catalog-filter-list {
  padding-left: 0;
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

}

.control {
  line-height: 23px;
}

.catalog-filter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
}

.catalog-filter-reset {
  background-color: transparent;
}

/* Список гостиниц в каталоге */

.catalog-hotels {
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.catalog-hotels-wrapper {
  display: flex;
}

.catalog-hotel-numbers {

  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  width: 292px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-hotels-button-wrapper {
  width: 160px;
  margin-left: auto;
}

.product-list {
  padding-left: 0;
  width: 1060px;
  list-style: none;
  box-sizing: border-box;
}

.product-card {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;

}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-description b {
  font-weight: 400;
}

.button-more-detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #82b3d3;
}

.button-favourites-now {
  background-color: #7db54f;
}

/* Пагинация */
.pagination {
  padding-left: 0;
}


/* Секция подписки на странице каталога */

.inner-newsletter {
  text-align: center;
  background-color: #ffffff;
}

.inner-newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.inner-newsletter-form .field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}
