@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2)
}

.page-header,
.catalog-header {
  padding: 0 70px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.hero {
  text-align: center;
  background-color: #ffffff;
}

.hero-background {
  margin-bottom: 69px;
  padding-top: 51px;
  color: #ffffff;
  background-color: #333333;
  background-image: url(../images/index-background-bottom.svg),
    url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.hero-subtitle {
  margin: 0;
  padding-bottom: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Секция Преимущества */
.advantages-list {
  margin: 0;
  margin-bottom: 69px;
  padding: 0;
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {
  padding-top: 113px;

  text-align: center;
}

.advantages-image {
  display: block;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.advantages-item-blue {
  padding-top: 102px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  padding-bottom: 113px;
}

/* Секция услуги */
.services {
  text-align: center;
}

.services-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-subtitle {
  margin: 0;
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  padding-top: 82px;
}

.services-item h3 {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  padding-bottom: 81px;
}

.services-item-dark {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Секция поиск отеля */

.search-hotel {
  padding: 96px 0;
  text-align: center;
}

.search-hotel-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel-description {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel .button {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Секция для подписки на новости */

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  background-color: #333333;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.newsletter-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-description {
  margin: 0;
  padding-bottom: 54px;
  color: #ffffff;
}

.newsletter .field {
  padding: 14px 0 14px 20px;
  width: 432px;
  line-height: 24px;
  color: #000000;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-newsletter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Подвал */

.page-footer {
  padding: 45px 70px 35px 70px;
  background-color: #ffffff;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.contact-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Убирает из поля видимости пользователя, оставляет для роботов и скринридера */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* Страница каталога */
.inner-header {
  padding: 35px 70px 0 70px;
  background-image: url(../images/filter-background.jpg);
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  color: #ffffff;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

}

.control {
  line-height: 23px;
}

.catalog-filter-item > input {
  padding: 12px 20px;
}

.catalog-filter-button {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
}

.catalog-filter-reset {
  background-color: transparent;
}

/* Список гостиниц в каталоге */

.catalog-hotels {
  padding: 57px 70px 0 70px;
  background-color: #ffffff;
}

.catalog-hotel-numbers {
  margin: 0;
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  margin-bottom: 47px;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.product-card-description {
  margin: 0;
  margin-bottom: 16px;
}

.product-card-description b {
  font-weight: 400;
}

.button-more-detail {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button-favourites {
  display: inline-block;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #82b3d3;
}

.button-favourites-now {
  padding: 8px 18px;
  background-color: #7db54f;
}

/* Пагинация */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Секция подписки на странице каталога */

.inner-newsletter {
  padding: 96px 70px 104px 70px;
  text-align: center;
  background-color: #ffffff;
}

.inner-newsletter-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.inner-newsletter-description {
  margin: 0;
  margin-bottom: 54px;
}

.inner-newsletter-form .field {
  padding: 14px 20px;
  width: 412px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}
